body { font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #555555; }

p.version { font-size: 11px; color: #999999; margin:0px 0px 10px 0px; }

#chat-ui-rooms { position: absolute; bottom: 0px; right: 10px; width: 200px; height: 200px; display: none; border: 1px solid #555555; }

#rooms-list { float:left; margin: 10px 0px 0px 10px; }

#opened-rooms { position: absolute; bottom: 0px; right: 220px; }

.room-box { position:relative; float: left; width: 200px; height: 200px; border: 1px solid #555555; margin: 0px 10px 0px 0px; display: none; }

.chat-ui-title { float: left; width: 190px; font-weight: bold; border-bottom: 1px solid #555555; padding: 3px 0px 3px 10px; }

.enter-room { margin: 2px 0px 4px 0px; cursor: pointer; }

.message { position: absolute; bottom: 0px; left: 0px; width: 190px; padding-left: 5px; padding-right: 5px; height: 12px; line-height: 12px; font-size: 12px; border-left: 0px; border-right: 0px; border-top: 1px solid #333333; border-bottom: 0px; }

#nick { border: 1px solid #888888; font-size: 12px; color:#444444; width: 80px; float: right; margin: 0px 2px 0px 0px; padding: 0px 5px 0px 5px; height: 15px; line-height: 15px; }

.messages { float:left; margin: 10px 10px 0px 10px; }

  .messages .when { font-size: 8px; }

  .message-row { float: left; width: 100%; border-bottom: 1px dotted #999999; padding: 2px 0px 2px 0px; margin: 2px 0px 2px 0px; font-size: 10px; }


#project-description { float: left; margin: 20px; }

  #project-description h1 { font-size: 20px; font-weight: bold; margin:0px 0px 5px 0px; }
  
  #project-description h3 { font-size: 16px; font-weight: bold; margin:15px 0px 10px 0px; }
  
  #project-description ul { list-style-type: decimal; margin: 10px 0px 10px 30px; }